<div class="alert alert-danger display-hide">
    <button class="close" data-close="alert"></button>
    Votre formulaire contient des erreurs, merci de vérifier ci-dessous.
</div>
<div class="alert alert-success display-hide">
    <button class="close" data-close="alert"></button>
    Formulaire validé !
</div>