<meta charset="utf-8">
<title>Groupe Flot Immobilier</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="Groupe Flot Immobilier" name="description">
<meta content="keole.net" name="author">
<link rel="shortcut icon" href="/img/favicon.png">