<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="keole.net" name="author">
    {#<link rel="shortcut icon" href="/img/favicon.png">#}
    {% include "MainBundle:LayoutComponents:core_stylesheet.html.twig" %}
    {% block pageStylesheet %}{% endblock %}
</head>
<body>
    {% block pageContent %}{% endblock %}
    {% include "MainBundle:LayoutComponents:core_javascript.html.twig" %}

    {% block bottomJavascript %}{% endblock %}
</body>
</html>

